<article class="about-section py-5">
    <div class="container">
        <h2 class="title mb-3">About Me</h2>
        <figure><img class="img-fluid" src="assets/images/profile4.png" alt="image" width="500px" height="500px">
        </figure>
        <p>
            Hola, soy desarollador de software con Java y Spring framework, he tenido la oportunidad de trabajar en
            proyectos de E-commerce, Administracion interna, wallet bancarias, productos bancarios, app movil para
            banco,
            Administracion para banco, entre otros, he tenido la oportunidad de utilizar tecnologias como Amanzon web
            services, Azure web apps
            Kubernetes, Docker, Cloud Funtions de firebase y con una orientacion basada a microservicios con spring
            cloud y todo el stack que este
            ofrece tambien, peronsalmente me gusta practicar mis habilidades con pequeños proyectos en java que podrian
            ser utiles en
            proyectos de lo vida real.
        </p>
        <h5 class="mt-5">My Skills and Experiences</h5>
        <p>En mi dia a dia me encuentro desarrollado con java del lado del backend pero tambien he trabajado con:

        </p>
        <img src="https://img.icons8.com/color/30/html-5.png">

        <img src="https://img.icons8.com/color/30/css3.png">

        <img src="https://img.icons8.com/color/30/javascript.png">

        <img src="https://img.icons8.com/color/30/php.png">

        <img src="https://img.icons8.com/color/30/python.png">

        <img src="https://img.icons8.com/color/30/npm.png">

        <img src="https://img.icons8.com/material-outlined/30/github.png">

        <img src="https://img.icons8.com/color/30/bitbucket.png">

        <img src="https://img.icons8.com/color/30/gitlab.png">

        <img src="https://img.icons8.com/color/30/git.png">

        <img src="https://img.icons8.com/color/30/visual-studio-code-2019.png">
        <img src="https://img.icons8.com/color/30/angularjs.png">

        <img src="https://img.icons8.com/color/30/windows-10.png">

        <img src="https://img.icons8.com/color/30/ubuntu--v1.png">

        <img src="https://img.icons8.com/color/30/linux.png">

        <img src="https://img.icons8.com/color/30/kali-linux.png">

        <img src="https://img.icons8.com/color/30/console.png">

        <img src="https://img.icons8.com/color/30/docker.png">

        <h5 class="mt-5">About The Blog</h5>
        <p>Este blog esta construido plenamente con Angular 12, en mi perfil se encuentra el codigo fuente.</p>

    </div>
</article>
<!--//about-section-->