<div class="container bg-light rounded mt-4">
  <div class="row">
    <div class="col">
      <img src="https://cdn.icon-icons.com/icons2/640/PNG/512/youtube-video-social-media-play_icon-icons.com_59108.png"
        alt="" />
    </div>
    <div class="col">
      <p class="border rounded mt-4" style="text-align: center; font-size: 35px; font-family: Comic Sans MS;">Tutorials
        on Java</p>
      <div class="row">
        <div class="col border rounded mt-4">
          <p style="font-family: consolas; font-size: 24px;">Here are shown some of the videos uploaded to youtube as a
            tutorial in which it is shown how to perform some functions that may be common in our day to day as a java
            programmer</p>

          <a class="btn btn-primary" style="font-family: consolas; font-size: 20px;"
            href="https://www.youtube.com/channel/UCRDsrn3PX9eJdqH74Zo6eFA">Go to my youtube channel</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-dark text-white  rounded mt-4" style="font-family: consolas; font-size: 24px;">
  <h1>Last videos..</h1>
  <div class="row align-items-start">

    <div *ngIf="myVideos.length > 0; else other_content">
      <div *ngfor="let video of myVideos" class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{video.snippet.thumbnails.medium.url}}" class="card-img-top" alt="...">
          <div class="card-title bg-dark">
            <p class="card-text">{{ video.snippet.title }}</p>
          </div>
          <div class="card-body bg-dark">
            <p class="card-text">{{ video.snippet.description }}</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v={{video.id.videoId}}">Got to video</a>
          </div>
        </div>
      </div>
    </div>
    <ng-template #other_content>
      <section class="container">
        <div class="row">
          <div class="col-md-5">
            <img class="rounded"
              src="https://media0.giphy.com/media/5WILqPq29TyIkVCSej/giphy.gif?cid=ecf05e476s3wapwk321jwr8qgjaek5e9gjx6i2t8nt96bst6&rid=giphy.gif&ct=g"
              alt="working..">
          </div>
          <div class="col-md-5">
            <p style="font-size:38px">Youtube service not available come back later, Thank you for viewing my portfolio!!</p>
          </div>
        </div>
      </section>
    </ng-template>

  </div>
</div>
