.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-1 .u-shape-1 {
  height: 1171px;
  width: 359px;
  margin: 0 auto 0 343px;
  background-color: rgb(60, 136, 167);
  /* this is for liston */
}

.u-section-1 .u-image-1 {
  width: 731px;
  height: 591px;
  margin: -920px 0 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 386px;
  width: 570px;
  margin: -771px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}
.card-container {
  margin: auto;
  width: 90%;
  background-color: #e7f1f1;
  display: flex;
  flex-wrap: wrap;
  border: 1px;
  background-image: url("../../../assets/images/3.jpeg");
}
.child {
  width: 25%;
  height: auto;
  background-color: transparent;
  margin: 0.5rem 0;
  text-align: center;
  opacity: 90%;
  background-color: rgb(200, 214, 209);
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  font-size: 4.25rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 1px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1089px;
  margin: 332px auto 66px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  min-height: 293px;
  grid-gap: 18px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 10%;
  width: 10%;
}

.img-circle {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  width: 10rem;
  height: 10rem;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 62px;
  width: 62px;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-shape-1 {
    height: 1126px;
    width: 418px;
    margin-left: 152px;
  }

  .u-section-1 .u-image-1 {
    width: 682px;
    height: 514px;
    margin-top: -828px;
  }

  .u-section-1 .u-group-1 {
    min-height: 349px;
    width: 515px;
    margin-top: -742px;
  }

  .u-section-1 .u-list-1 {
    width: 909px;
    margin-top: 307px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-shape-1 {
    height: 1391px;
    width: 507px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-1 {
    width: 600px;
    height: 474px;
    margin-top: -1060px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -735px;
  }

  .u-section-1 .u-list-1 {
    width: 657px;
    margin-bottom: -313px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 594px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-shape-1 {
    height: 1420px;
    width: 302px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 404px;
    margin-top: -1089px;
  }

  .u-section-1 .u-group-1 {
    min-height: 324px;
    width: 478px;
    margin-top: -665px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-list-1 {
    width: 495px;
    margin-top: 297px;
    margin-bottom: -264px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 629px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1917px;
  }

  .u-section-1 .u-shape-1 {
    height: 1857px;
    width: 224px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 286px;
    height: 257px;
    margin-top: -1526px;
  }

  .u-section-1 .u-group-1 {
    min-height: 303px;
    width: 286px;
    margin-top: -518px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 307px;
    margin-top: 178px;
    margin-bottom: 38px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1248px;
  }
}
