<section class="u-clearfix u-grey-5 u-section-1" id="sec-0500">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1">
    </div>
    <img class="u-image u-image-default u-image-1" data-image-width="1620" data-image-height="1080"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fbf%2F4d%2F2d%2Fbf4d2daa4130900b8aec6af9d2ed8b56.gif&f=1&nofb=1">
    <div class="u-align-left u-container-style u-group u-palette-1-dark-2 u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h5 class="u-text u-text-1"> Github</h5>
        <h1 class="u-text u-text-2"> My repositories <br>
        </h1>
      </div>
    </div>
    <div class="u-list u-list-1">
      <div class="card-container">
        <div *ngFor="let item of repos" class="child">
          <div *ngIf="item.name && item.language">
            <span [ngSwitch]="item.language">

              <img *ngSwitchCase="'Java' || null" class="img-circle"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp6599912.jpg&f=1&nofb=1">
              <img *ngSwitchCase="'Php' | uppercase" class="img-circle"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages6.alphacoders.com%2F430%2Fthumb-1920-430917.jpg&f=1&nofb=1">
              <img *ngSwitchCase="'Css' | uppercase" class="img-circle"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2742473.jpg&f=1&nofb=1">
              <img *ngSwitchCase="'html' | uppercase" class="img-circle"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.hipwallpaper.com%2Fi%2F42%2F25%2FvWoed7.jpg&f=1&nofb=1">

            </span>
            <h6 class="u-custom-font u-font-pt-sans u-text u-text-6"><a href="{{ item.html_url }}" target="_blank">{{ item.name | titlecase }} | {{
                item.language }}</a> </h6>
            <p class="u-text u-text-7">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
